@font-face {
    font-family: 'kaushan_scriptregular';
    src: font_url('chunkfive-webfont.eot');
    src: font_url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         font_url('chunkfive-webfont.woff') format('woff'),
         font_url('chunkfive-webfont.ttf') format('truetype'),
         font_url('chunkfive-webfont.svg#chunkfiveroman') format('svg');
    src: url('kaushanscript-regular-webfont.woff2') format('woff2'),
         url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}